.employee-dashboard {
    min-height: 100vh;
    // background-color: #faf7ff;
    padding-bottom: 2rem;

  .dashboard-content {
    width: 90%;
    margin: 2rem auto;
  }

  .profile-card {
    background: linear-gradient(135deg, #e9f0ff, #d8f7ff);
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    .profile-header {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }

    .profile-icon {
      font-size: 4rem;
      color: #7b68ee;
      background: #f0e6ff;
      border-radius: 50%;
      padding: 1rem;
    }

    .profile-info {
      h2 {
        margin: 0;
        color: #3a2b84;
      }

      p {
        margin: 0.2rem 0 0.8rem;
        color: #6b6b6b;
      }

      .badges {
        display: flex;
        gap: 0.5rem;
        margin-top: 10px;
      }
    }
  }

  .info-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 1.5rem;
    margin-top: 2rem;
  }

  .info-card {
    border-radius: 1rem;
    background: white;
    padding: 1.5rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);

    h3 {
      color: #5a2ec2;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .info-item {
      margin-top: 6px;
      display: flex;
      align-items: flex-start;
      gap: 1rem;
      margin-bottom: 1rem;

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        color: #6f42c1;

        height: 50px;
        width: 50px;
        border-radius: 12px;

        &.pi-envelope{
          background-color:var(--p-purple-200);
        }
        &.pi-id-card{
          background-color:var(--p-blue-200);
        }
        &.pi-briefcase{
          background-color:var(--p-red-200);
        }
        &.pi-building{
          background-color:var(--p-green-200);
        }

      }

      .label {
        font-weight: 400;
        color: #555;
        margin-bottom: 0.1rem;
        margin-top: 0px;
      }

      .value {
        color: black;
      }
    }

    &.salary-card {
      background: #e6ffed;

      .salary-value {
        font-size: 1.8rem;
        font-weight: bold;
        color: #1b5e20;
      }
    }

    &.role-card {
      background: #f3e6ff;

      .role-value {
        font-size: 1.4rem;
        color: #6a1b9a;
        font-weight: 600;
      }
    }
  }
}
