.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
//   overflow: hidden; // prevents body scroll
}

.dashboard-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; // ensures header stays on top
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

/* router-outlet area (below header) */
.dashboard-content {
  flex: 1;
  margin-top: 76px; // adjust based on your header height

  background: #faf7ff;
  padding: 1.5rem;
}
