<p-toast position="top-right"></p-toast>
<div class="modal-overlay">
  <div class="modal-content">
    <header class="modal-header">
      <div class="modal-title-container">
        <i class="plus-icon"></i>
        <h2>Edit Employee data</h2>
      </div>
      
    </header>

    <form [formGroup]="userForm">
      <div class="form-group">
        <label for="name" class="form-label">Name *</label>
        <input
          type="text"
          class="form-input"
          id="name"
          formControlName="name"
          placeholder="Enter name"
        />
        @if(formControlGetter['name'].touched && formControlGetter['name'].invalid){
        <div class="validation-error">
          @if(formControlGetter['name'].errors?.['required']){
          <div>Name is required.</div>
          }
          @if(formControlGetter['name'].errors?.['htmlTagsNotAllowed']){
            <div>HTML tags are not allowed!</div>
          }
        </div>
        }
      </div>

      <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-input"
          id="email"
          formControlName="email"
          placeholder="Enter email"
        />
        @if(formControlGetter['email'].touched && formControlGetter['email'].invalid){
        <div class="validation-error">
          @if(formControlGetter['email'].errors?.['required']){
          <div>Email is required.</div>
          } @if(formControlGetter['email'].errors?.['email']){
          <div>Please enter a valid email.</div>
          }
        </div>
        }
      </div>
      <div class="form-group">
        <label for="password" class="form-label">Password</label>
        <input
          type="text"
          class="form-input"
          id="password"
          formControlName="password"
          placeholder="Enter password"
        />
        @if(formControlGetter['password'].touched && formControlGetter['password'].invalid){
        <div class="validation-error">
          @if(formControlGetter['password'].errors?.['required']){
          <div>Email is required.</div>
          } 
        </div>
        }
      </div>

      <div class="form-group">
        <label for="department" class="form-label">Department</label>
        <select class="form-input" id="department" formControlName="department">
          <option value="" disabled>Select department</option>
          @for(dept of departmentList; track dept){
          <option [value]="dept">{{ dept }}</option>
          }
        </select>
        @if(formControlGetter['department'].touched && formControlGetter['department'].invalid){
        <div class="validation-error">
          @if(formControlGetter['department'].errors?.['required']){
          <div>Department is required.</div>
          }
        </div>
        }
      </div>

      <div class="form-group">
        <label for="position" class="form-label">Position</label>
        <input
          type="text"
          class="form-input"
          id="position"
          formControlName="position"
          placeholder="Enter position"
        />
        @if(formControlGetter['position'].touched && formControlGetter['position'].invalid){
        <div class="validation-error">
          @if(formControlGetter['position'].errors?.['required']){
          <div>Position is required.</div>
          }
           @if(formControlGetter['position'].errors?.['htmlTagsNotAllowed']){
            <div>HTML tags are not allowed!</div>
          }
        </div>
        }
      </div>

      <div class="form-group">
        <label for="salary" class="form-label">Salary</label>
        <input
          type="number"
          class="form-input"
          id="salary"
          formControlName="salary"
          placeholder="Enter salary"
        />
        @if(formControlGetter['salary'].touched && formControlGetter['salary'].invalid){
        <div class="validation-error">
          @if(formControlGetter['salary'].errors?.['required']){
          <div>Salary is required.</div>
          } @if(formControlGetter['salary'].errors?.['min']){
          <div>Salary must be a positive number.</div>
          }
        </div>
        }
      </div>

      <div class="form-actions">
        <button type="button" class="cancel-btn" (click)="onCancel()">
          Cancel
        </button>
        @if(empId!=0){
          <button type="submit" class="submit-btn" [disabled]="userForm.invalid" (click)="SaveChanges()">
          Save
        </button>
        }@else {
          <button type="submit" class="submit-btn" [disabled]="userForm.invalid" (click)="AddEmployee()">
          Add Employee
        </button>
        }
        
      </div>
    </form>
  </div>
</div>

