.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  background: linear-gradient(
    135deg,
    var(--p-purple-50),
    var(--p-purple-200)
  );
}

.not-found-card {
  text-align: center;
  padding: 2.5rem 3rem;
  border-radius: 1.5rem;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  animation: fadeIn 0.9s ease;
}

.code {
  font-size: 7rem;
  font-weight: 800;
  color: var(--primary-600);
  animation: float 3s infinite ease-in-out;
}

h1 {
  margin-top: -0.8rem;
  font-size: 2.2rem;
  color: var(--primary-700);
}

p {
  color: var(--primary-800);
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.back-btn {
  background: var(--primary-500) !important;
  border: none !important;
  
  padding: 0.8rem 2rem !important;
  border-radius: 1rem !important;
  transition: 0.25s ease;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.15);


  &:hover {
    background: var(--primary-400) !important;
    transform: translateY(-3px);
  }

  &:active {
    transform: translateY(1px);
  }
}


